div {
  /* border: solid; */
}

ul{ 
  list-style-type: none;
  padding-left: 0;
}

li{ 
  font-size: 8pt;
}

.col { 
  padding: 5px;
}

.card {
  width: 100%;
  background-color: #ececec;
}


.forecast-card {
  background-color: #8FCBFF;
  /* width: 140px; */
  /* padding: 10px; */
}

.search-section {
  height: 100%;
}


.cityList {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding-left: 2px;
  background-color: lightgrey;
}

.cityList:hover {
  /*background-color: #28a745;*/
  background-color: limegreen;
  color: #fff;
}

.container {
  margin-top: 5px;
}

.footer {
    /* set text properties */
    background-color: #666666;
    /* sets height of footer*/
    height: 5%;
    /* sets properties for footer border*/
    border-top: solid;
    border-top-color: #b6d7e2;
    border-top-width: 6px;
}

.footer-text, .header-text {
    /* forces text across the entire screen so it has a center */
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: linen;
}